<p id="notice"><%= notice %></p>

<h1>Certagencies</h1>

<table>
  <thead>
    <tr>
      <th>Cert agency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certagencies.each do |certagency| %>
      <tr>
        <td><%= certagency.cert_agency %></td>
        <td><%= link_to 'Show', certagency %></td>
        <td><%= link_to 'Edit', edit_certagency_path(certagency) %></td>
        <td><%= link_to 'Destroy', certagency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certagency', new_certagency_path %>
