<div class="form-background">
<div class="form-wrapper">
<h1 class="form-heading">Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password, :class => "label" %> <i>(we need your current password to confirm your changes)</i><br />
    <div class="control">
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, :class => "label" %> <i>(leave blank if you don't want to change it)</i><br />
    <div class="control">
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => "label" %><br />
    <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <p> <%= image_tag current_user.image_url(:thumb) %></p>
  <div class="field">
    <%= f.label :image, :class => "label"  %><br />
    <div class="control">
    <%= f.file_field :image %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "button is-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
