<h2>Enable/disable admin access for user</h2>

<% @users.each do |user| %>

  <p>
    <strong><%= user.email %></strong>
  

    <%= form_for user, url: update_permissions_path(user), :method => :put do |f| %>
 
      <%= f.fields_for :roles do |ff| %>

        <%=     ff.radio_button :name, 'admin' %>
        <%=     ff.label :name_admin, "Admin" %>

        <%=     ff.radio_button :name, 'normal' %>
        <%=     ff.label :name_normal, "Normal" %>
        
      <% end %>

      <%= f.submit "Change" %>
    <% end %>

  <br />
  </p>

<% end %>