

<%= form_with(model: meetup, local: true, url: create_meetup_with_type_path(params[:type])) do |form| %>
  <% if meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
      <% meetup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, :class => "label" %>
    <div class="control">
    <%= form.text_field :name %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, :class => "label" %>
    <div class="control">
    <%= form.text_area :description %>
    </div>
  </div>

  <div class="field">
    <%= form.label :is_commercial_trip, :class => "label" %>
    <div class="control">
    <%= form.check_box :is_commercial_trip %>
    </div>
  </div>

  <div class="field">
    <%= form.label :street_address, :class => "label" %>
    <div class="control">
    <%= form.text_field :street_address %>
    </div>
  </div>

  <div class="field">
    <%= form.label :city, :class => "label" %>
    <div class="control">
    <%= form.text_field :city %>
    </div>
  </div>

  <div class="field">
    <%= form.label :state, :class => "label" %>
    <div class="control">
    <%= form.text_field :state %>
    </div>
  </div>

  <div class="field">
    <%= form.label :country, :class => "label" %>
    <div class="control">
    <%= form.text_field :country %>
    </div>
  </div>

  <div class="field">
    <%= form.label :is_boat_required, :class => "label" %>
    <div class="control">
    <%= form.check_box :is_boat_required %>
    </div>
  </div>

  <% if is_instructor?  %>
    <div class="field">
      <%= form.label :price, :class => "label" %>
      <div class="control">
      <%= form.text_field :price %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_limit, :class => "label" %>
    <div class="control">
    <%= form.number_field :member_limit %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, :class => "label" %>
    <div class="control">
    <%= form.datetime_select :date %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Create Meetup", :class => "button is-primary" %>
  </div>
<% end %>


