<h1 class="meetups-heading">View Existing Meetups</h1>

<% if !(@meetups.any?) %>
  <div class="no-meetups-error">
    <h2>No meetups exist yet. Why not be the first to create one! :)</h2>
  </div>
<% else %>

  <form>
    <div class="field">
      <label for="Meetup Type">Meetup Type:</label>
      <div class="control">
        <input type="text" name="meetup_type">
      </div>
    </div>
    <input type="submit" value="Filter" class="btn btn-default">
    <%= link_to 'Clear Filters', meetups_path, class: "button is-primary" %>
  </form>


  <table class="table is-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Is this a commercial trip?</th>
        <th>Meetup Type</th>
        <th>Meeting Address</th>
        <th>Meeting City</th>
        <th>Meeting State</th>
        <th>Meeting Country</th>
        <th>Is a boat required?</th>
        <th>Price</th>
        <th>Member limit</th>
        <th>Date</th>

        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @meetups.each do |meetup| %>
        <tr>
          <td class="bold"><%= link_to meetup.name, meetup %></td>
          <% if meetup.is_commercial_trip %>
            <td>Yes</td>
          <% else %>
            <td>No</td>
          <% end %>
          <% if meetup.meetup_type == "diver" %>
            <td class="bold">I'm looking for buddies</td>
          <% elsif meetup.meetup_type == "instructor" %>
            <td class="bold">I'm looking to teach</td>
          <% end %>
          <td><%= meetup.street_address %></td>
          <td><%= meetup.city %></td>
          <td><%= meetup.state %></td>
          <td><%= meetup.country %></td>
          <td><%= meetup.is_boat_required %></td>
          <% if meetup.price == 0 %>
            <td>$0</td>
          <% else %>
            <td class="bold">$<%=sprintf('%02.f', meetup.price)%></td>
          <% end %>
          <td><%= meetup.member_limit %></td>
          <td><%= meetup.date %></td>
          <td><%= link_to 'View Meetup', meetup, :class => "button is-primary" %></td>
          <% if user_signed_in? %>
          <% if meetup.meetupmembers.each do |meetupmember| %>
            <% if (current_user.id == meetupmember.user_id) && (meetupmember.can_edit == true) %>
              <td><%= link_to 'Edit', edit_meetup_path(meetup), :class => "button is-warning" %></td>
              <td><%= link_to 'Destroy', meetup, method: :delete, data: { confirm: 'Are you sure you want to delete this meetup?' }, :class => "button is-danger" %></td>
            <% end %>
            <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>



<br>

<% if user_signed_in? %>
  <section class="cards-container">
    <div class="section cards" id="cards">
      <div class="container">
        <div class="columns is-multiline">
          <% if @registered_diver == nil  %>
            
            <div class="column xpro2 is-quarter">
              <p>Click to register as a DIVER!</p>
              <img src="../assets/diver-icon.png" alt="Diver Icon">
              <%= link_to "", divers_reg_path, :class => "card-wrap" %>
            </div>
          <% elsif @registered_diver != nil  %>
            <div class="column xpro2 is-quarter">
              <p>Click to CREATE A MEETUP as a diver looking for buddies or an instructor</p>
              <img src="../assets/diver-icon.png" alt="Diver Icon">
              <%= link_to "", new_meetup_with_type_path("diver"), :class => "card-wrap" %>
            </div>
          <% end %>
          <% if @registered_instructor == nil  %>
            <div class="column xpro2 is-quarter">
              <p>Click to register as an INSTRUCTOR!</p>
              <img src="../assets/instructor-icon.png" alt="Instructor Icon">
              <%= link_to "", instructors_reg_path, :class => "card-wrap" %>
            </div>
          <% elsif @registered_instructor != nil  %>
              <div class="column xpro2 is-quarter">
              <p>Click to CREATE A MEETUP as a instructor looking to teach</p>
              <img src="../assets/instructor-icon.png" alt="Instructor Icon">
              <%= link_to "", new_meetup_with_type_path("instructor"), :class => "card-wrap" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>


