<p id="notice"><%= notice %></p>

<h1>Meetups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Is commercial trip</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Is boat required</th>
      <th>Price</th>
      <th>Member limit</th>
      <th>Date</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= meetup.name %></td>
        <td><%= meetup.description %></td>
        <td><%= meetup.is_commercial_trip %></td>
        <td><%= meetup.street_address %></td>
        <td><%= meetup.city %></td>
        <td><%= meetup.state %></td>
        <td><%= meetup.country %></td>
        <td><%= meetup.is_boat_required %></td>
        <td><%= meetup.price %></td>
        <td><%= meetup.member_limit %></td>
        <td><%= meetup.date %></td>
        <td><%= meetup.latitude %></td>
        <td><%= meetup.longitude %></td>
        <td><%= link_to 'Show', meetup %></td>
        <% if meetup.meetupmembers.each do |meetupmember| %>
          <% if (current_user.id == meetupmember.user_id) && (meetupmember.can_edit == true) %>
            <td><%= link_to 'Edit', edit_meetup_path(meetup) %></td>
            <td><%= link_to 'Destroy', meetup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if @registered_diver == nil  %>
  <%= link_to "I'm a recreational diver", divers_reg_path %>
<% elsif @registered_diver != nil  %>
  <%= link_to "create a meetup as a diver looking for buddies or an instructor", new_meetup_with_type_path("diver") %>
<% end %>

<% if @registered_instructor == nil %>
  <%= link_to "I'm a dive instructor", instructors_reg_path %>
<% elsif @registered_instructor != nil %>
  <%= link_to "create a meetup as a instructor looking to teach", new_meetup_with_type_path("instructor") %>
<% end %>


