<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meetup.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meetup.description %>
</p>

<p>
  <strong>Is commercial trip:</strong>
  <%= @meetup.is_commercial_trip %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @meetup.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @meetup.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @meetup.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @meetup.country %>
</p>

  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<p>
  <strong>Is boat required:</strong>
  <%= @meetup.is_boat_required %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meetup.price %>
</p>

<p>
  <strong>Member limit:</strong>
  <%= @meetup.member_limit %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meetup.date %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @meetup.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @meetup.longitude %>
</p>

<%= link_to 'Edit', edit_meetup_path(@meetup) %> |
<%= link_to 'Back', meetups_path %>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @meetup.latitude %>,
      "lng": <%= @meetup.longitude %>,
      "picture": {
        "url": "http://res.cloudinary.com/chullman/image/upload/v1525666850/map_marker.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "You're meetup location @ <%=@meetup.full_street_address%>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
