<h1>Users#new_diver</h1>
<p>Find me in app/views/users/new_diver.html.erb</p>

<%= form_for(@diver, url: register_diver_path) do |form| %>

  <div class="field">
    <%= form.label :total_dives %>
    <%= form.text_field :total_dives, id: :total_dives %>
  </div>

    <div class="field">
    <%= form.label :certagency %><br />
    <%= form.collection_select :certagency_id, @certagencies, :id, :cert_agency %>
  </div>

  <div class="field">
    <%= form.label :qualification %><br />
    <%= form.collection_select :qualification_id, @qualifications, :id, :qualification %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

