<div class="form-background">
<div class="form-wrapper">

<h1 class="user-type-heading">Register Yourself As an Instructor</h1>

<%= form_for(@instructor, url: register_instructor_path) do |form| %>

  <div class="field">
    <%= form.label "Total Dives?", :class => "label" %>
    <%= form.text_field :total_dives, id: :total_dives, :placeholder => "Please enter a number" %>
  </div>

   <div class="field">
    <%= form.label "Which Agency Are You With?", :class => "label" %><br />
    <%= form.collection_select :certagency_id, @certagencies, :id, :cert_agency %>
  </div>

  <p class="bold">Please indicate which courses you can teach:</p>
  <% @courses.each do |course| %> 
    <%= form.fields_for :course do |form2| %>
        <%= form2.label :course_name, course.course_name, :class => "label" %>
        <div class="control">
        <%= form2.check_box :course_name, {multiple: true}, course.id%>
        </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Register", :class => "button is-primary" %>
  </div>
<% end %>

</div>
</div>