<!DOCTYPE html>
<html>
  <head>
    <title>BubbleBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="//maps.google.com/maps/api/js?key=<%=ENV['google_api_key']%>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>

    <% if user_signed_in?%>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= link_to "Account Settings", edit_user_registration_path %>
      <% if current_user.has_role? :admin %>
        <%= link_to 'Admin Settings', admins_path %>
      <% end %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
