<!DOCTYPE html>
<html>
  <head>


    <%= render partial: "/layouts/defaulthead" %>



    <script>
    function autoSubmit() {
      document.getElementById("join_meetup_button").click();
    }
    setTimeout(autoSubmit, 4000);
    </script>

  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render partial: "/layouts/defaultfoot" %>
  </body>
</html>
