<!DOCTYPE html>
<html>
  <head>
    <title>BubbleBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="//maps.google.com/maps/api/js?key=<%=ENV['google_api_key']%>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <script>
    function autoSubmit() {
      document.getElementById("join_meetup_button").click();
    }
    setTimeout(autoSubmit, 4000);
    </script>

  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
